@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
    flex: 1;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.color-1 {
    @apply bg-blue-400;
    @apply dark:bg-blue-400;
}

.color-2 {
    @apply bg-blue-600;
    @apply dark:bg-blue-600;
}

.color-3 {
    @apply bg-purple-600;
    @apply dark:bg-purple-600;
}

.nav-link {
    @apply text-white;
    @apply dark:text-white;
    @apply text-sm;
    @apply sm:text-2xl;
    @apply mx-auto;
    @apply mr-2;
}

.router-link-active {
    @apply font-bold;
    @apply text-purple-400;
    @apply dark:text-purple-400;
}

.login-form,
.register-form,
.profile-form {
    @apply m-auto;
    @apply max-w-xs;
    @apply p-4;
    @apply rounded-lg;
    @apply bg-white;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-start;
}

.input {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-500;
    @apply focus:outline-none;
    @apply w-full;
}
.button {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-500;
    @apply w-full;
    @apply cursor-pointer;
    @apply text-white;
    @apply bg-blue-500;
    @apply hover:bg-blue-600;
}

.btn-register,
.btn-login,
.btn-save {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-500;
    @apply focus:outline-none;
    @apply w-full;
    @apply text-center;
    @apply text-white;
    @apply bg-blue-400;
    @apply hover:bg-blue-500;
    @apply transition;
    @apply mt-2;
    @apply disabled:opacity-50;
}

.btn-deleteAccount {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-red-500;
    @apply focus:outline-none;
    @apply w-full;
    @apply text-center;
    @apply text-white;
    @apply bg-red-400;
    @apply hover:bg-red-500;
    @apply transition;
    @apply mt-5;
    @apply disabled:opacity-50;
}

.btn-delete1 {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-red-500;
    @apply focus:outline-none;
    @apply text-center;
    @apply text-white;
    @apply bg-red-400;
    @apply hover:bg-red-500;
    @apply transition;
    @apply mt-2;
    @apply disabled:opacity-50;
}

.btn-show1 {
    @apply p-2;
    @apply pr-3;
    @apply pl-3;
    @apply ml-11;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-500;
    @apply focus:outline-none;
    @apply text-center;
    @apply text-white;
    @apply bg-blue-400;
    @apply hover:bg-blue-500;
    @apply transition;
    @apply mt-2;
    @apply disabled:opacity-50;
}

.btn-create {
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-600;
    @apply focus:outline-none;
    @apply text-center;
    @apply text-white;
    @apply bg-blue-500;
    @apply hover:bg-blue-600;
    @apply transition;
    @apply mt-2;
    @apply disabled:opacity-50;
    @apply p-2;
}

.status-message {
    @apply mb-2;
    @apply text-gray-600;
    @apply text-sm;
}

.invalid-input {
    @apply mb-2;
    @apply border-red-500;
    @apply text-red-500;
    @apply text-sm;
    @apply italic;
}

.list-card,
.item-card,
.invite-card {
    @apply w-full;
    @apply border-2;
    @apply border-gray-200;
    @apply rounded-lg;
    @apply p-2;
    @apply hover:bg-blue-500;
    @apply focus:bg-blue-500;
    @apply focus:outline-none;
    @apply transition;
    @apply cursor-pointer;
    @apply bg-white;
}

.itemSelected {
    @apply bg-blue-500 !important;
}

.btn-edit {
    @apply p-2;
    @apply rounded-lg;
    @apply border-2;
    @apply border-gray-200;
    @apply focus:border-blue-500;
    @apply focus:outline-none;
    @apply text-center;
    @apply text-white;
    @apply bg-blue-400;
    @apply hover:bg-blue-500;
    @apply transition;
    @apply mb-3;
    @apply disabled:opacity-50;
    @apply justify-items-center;
    @apply ml-40;
}

/*Spinner animation*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  