@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
    flex: 1;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.color-1{
    @apply bg-blue-400;
    @apply dark:bg-blue-400;
}

.color-2{
    @apply bg-blue-600;
    @apply dark:bg-blue-600;
}

.color-3{
    @apply bg-purple-600;
    @apply dark:bg-purple-600;
}

.nav-link{
    @apply text-white;
    @apply dark:text-white;
    @apply md:text-2xl;
    @apply text-sm;
    @apply mx-auto;
    @apply mr-2;
}