* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

public/css/app.css linguist-vendored
public/js/app.js linguist-vendored
public/index.php linguist-vendored

app/* linguist-vendored
storage/* linguist-vendored
database/* linguist-vendored
config/* linguist-vendored
bootstrap/* linguist-vendored
tests/* linguist-vendored

app/Jobs/SendEmail.php linguist-vendored=false